<div class="modal fade" id="applicant_details_<%= applicant.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="modal-dialog">
      <div class="modal-content" id="applicant_modal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div>
            <h4 class="modal-title" id="myModalLabel applicant_modal_name"><%= applicant.name %></h4>  <br>  
            <h6 class="modal-title" id="myModalLabel applicant_modal_name"><%= applicant.email %></h6>  
          </div>

          <div class="delete_applicant">
            <%= link_to "Delete Applicant", company_job_applicant_path(@company, @job, applicant), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger pull-right", id: "delete_applicant_button" %>
          </div>

          <div class="status">        
            <span class= " status_buttons", id= "status_<%= Applicant::Status::APPLIED %>">Applied   </span>
            <span class= " status_buttons", id= "status_<%= Applicant::Status::SHORTLISTED %>"> Shortlisted   </span>
            <span class= " status_buttons", id= "status_<%= Applicant::Status::SCREENING %>" > Being Screened  </span>
            <span class= " status_buttons", id= "status_<%= Applicant::Status::PREHIRE %>"> Pre-hire Shotlisteds   </span>
            <span class= " status_buttons", id= "status_<%= Applicant::Status::OFFERED %>" > Offered  </span>
            <span class= " status_buttons", id= "status_<%= Applicant::Status::REJECTED %>"  > Rejected    </span>     
          </div> 

          
        </div>

        <div class="applicant_files">
          <%= simple_form_for [@company, @job, applicant, applicantfile], html: {multipart: true}, remote: true do |f| %>
            <div class="field input-group">
              <%= f.input :file, as: :file %>
              <%= f.input :applicant_id, as: :hidden %>
              <%= token_tag form_authenticity_token %>
              <%= f.button :submit, "Add file", class: "btn btn-primary", id: "create_job_btn" %>
            </div>
          <% end %>

          <div id="all_files">
            <%= render @applicantfiles %>
          </div>
        </div>

        <div class="all_activities">
          <%= render @activities %>
        </div>

        <div class="modal-comment">

          <%= render partial: "comments/new", locals: {job: @job, company: @company, applicant: applicant, comment: @new_comment} %>
          
          <div id="all_comments">
            <%= render @comments %>
          </div>

          
        </div>      

        
        
      </div>
    </div>
  </div>