<div> 
  <h2><%= @job.title %></h2>
  <h4><%= @job.description %></h4>
  
  <%= simple_form_for(@applicant, url: job_applicants_path) do |f| %>
  <%= f.input :name, label: 'Your Name' %>
  <%= f.input :email, label: 'Your Email Id'  %>  
  <%= f.submit "Confirm Email" %>
  <% end %>

  

</div>