<div class="container-fluid" id ="job_dashboard_page">
  
  <div class="container-fluid">
    <div class="row" id ="jobs_div">      
      <h4 id="job_dashboard_title"><%= @job.title %></h4>          
      <button type="button" class="btn btn-danger pull-right" id="job_delete_btn" data-toggle="modal" data-target="#remove_job_myModal"> Remove job </button>      

    </div>


    <div class="row" id="job_dashboard_column_container">      
      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_1">
        <div class="job_dashboard_column" id = "job_dashboard_column1">
          <h5> Applied : <%= @applicants_applied_count %></h5>
          <div class="applicant_card">            
            <%= render partial: 'applicants/new', locals: {job: @job, company: @company, applicant: @new_applicant} %>            
          </div>
          <div class="applicants_container">
            <div id="applied_applicants" class="dashboard_column_list">            
                <% @applicants_applied.each do |applicant| %>
                  <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
                <% end %>            
            </div>  
          </div>           
        </div>
      </div>





      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_2">
        <div class="job_dashboard_column">
          <h5> Shortlisted : <%= @applicants_shortlisted_count %></h5>
          <div class="applicants_container">
            <div id="shortlisted_applicants" class="dashboard_column_list">            
                <% @applicants_shortlisted.each do |applicant| %>
                  <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
                <% end %>            
            </div>  
          </div>
        </div>
      </div>




      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_3">
        <div class="job_dashboard_column">
          <h5> Screening : <%= @applicants_screening_count %></h5>
          <div class="applicants_container">
            <div id="screening_applicants" class="dashboard_column_list">            
                <% @applicants_screening.each do |applicant| %>
                  <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
                <% end %>            
            </div> 
          </div>
        </div>
      </div>




      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_4">
        <div class="job_dashboard_column">
          <h5> Pre-hire shortlist : <%= @applicants_prehire_count %></h5>
          <div class="applicants_container">
            <div id="prehire_applicants" class="dashboard_column_list">            
              <% @applicants_prehire.each do |applicant| %>
                <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
              <% end %>            
            </div>
          </div> 
        </div>
      </div>



      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_5">
        <div class="job_dashboard_column">
          <h5> Offered : <%= @applicants_offered_count %></h5>
          <div class="applicants_container">
            <div id="offered_applicants" class="dashboard_column_list">            
              <% @applicants_offered.each do |applicant| %>
                <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
              <% end %>            
            </div>
          </div> 
        </div>
      </div>  

      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_7">
        <div class="job_dashboard_column">
          <h5> Rejected : <%= @applicants_rejected_count %></h5>
          <div class="applicants_container">
            <div id="rejected_applicants" class="dashboard_column_list">            
              <% @applicants_rejected.each do |applicant| %>
                <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
              <% end %>            
            </div>
          </div> 
        </div>
      </div> 

    </div>  
  </div>  
</div> 

<div class="modal fade" id="remove_job_myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="remove_job_modal_dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-body">
          <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">cancel</span></button>
          <%= link_to "OK", company_job_path(current_company, @job), method: :delete, class: "btn btn-danger pull-right" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    console.log("Sorter Initialized");
    Sorter.makeSortable(<%= @company.id %>, <%= @job.id %>);
  });
</script>
