
<script>
  $(function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    });
</script>


<div class="container-fluid" id ="job_dashboard_page">
  
  <div class="container-fluid">
    <div class="row" id ="jobs_div">      
      <h4 id="job_dashboard_title"><%= @job.title %></h4>     
      <%= link_to "Remove Job", company_job_path(@company, @job), method: :delete, class: "btn btn-danger pull-right" %>     
    </div>
    <div class="row" id="job_dashboard_column_container">      
      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_1">
        <div class="job_dashboard_column">
          <h5> Applied </h5>
          <div class="applicant_card">
            <%= link_to new_company_job_applicant_path(@company, @job), id: "add_applicant_link", remote: true do %>
              <%= render partial: 'applicants/new', locals: {job: @job, company: @company, applicant: @new_applicant} %>
            <% end %>
          </div>
          
          <div class="dashboard_column_list">
            <ul id="sortable">
              <% @applicants_applied.each do |applicant| %>
                <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
              <% end %>
            </ul>
          </div>             
        </div>
      </div>
      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_2">
        <div class="job_dashboard_column">
          <h5> Shortlisted </h5>
          <div class="dashboard_column_list">
            <ul id="sortable">
              <% @applicants_shortlisted.each do |applicant| %>
                <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
              <% end %>
            </ul>
          </div>  
        </div>
      </div>
      <div class="col-md-4 job_dashboard_column_holder" id="job_dashboard_column_3">
        <div class="job_dashboard_column">
          <h5> Screening </h5>
          <div class="dashboard_column_list">
            <ul id="sortable">
              <% @applicants_screening.each do |applicant| %>
                <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
              <% end %>
            </ul>
          </div> 
        </div>
      </div>
      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_4">
        <div class="job_dashboard_column">
          <h5> Pre-hire shortlist </h5>
          <div class="dashboard_column_list">
            <ul id="sortable">
              <% @applicants_prehire.each do |applicant| %>
                <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
              <% end %>
            </ul>
          </div> 
        </div>
      </div>
      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_5">
        <div class="job_dashboard_column">
          <h5> Offered</h5>
          <div class="dashboard_column_list">
            <ul id="sortable">
              <% @applicants_offered.each do |applicant| %>
                <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
              <% end %>
            </ul>
          </div> 
        </div>
      </div>      
    </div>  
  </div>  
</div>  




