<div class="container-fluid" id ="job_dashboard_page">
  
  <div class="container-fluid">
    <div class="row" id ="jobs_div">      
      <h4 id="job_dashboard_title"><%= @job.title %></h4>     
         

      <div class="btn-group pull-right" id="job_edit_btn_group">
        <button type="button" class="btn btn-default dropdown-toggle" id = "job_edit_gear_toggle" data-toggle="dropdown" aria-expanded="false">    
          <span class="glyphicon glyphicon-cog"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Remove Job", company_job_path(@company, @job), method: :delete, id: "job_delete_btn", data: {confirm: "Are you sure?"} %></li>
        </ul>
      </div>  
    </div>


    <div class="row" id="job_dashboard_column_container">      
      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_1">
        <div class="job_dashboard_column" id = "job_dashboard_column1">
          <h5> Applied : <span id="applicants_count_<%= Applicant::Status::APPLIED %>"><%= @applicants_applied_count %></span></h5>
          <div class="applicant_card">            
            <%= render partial: 'applicants/new', locals: {job: @job, company: @company, applicant: @new_applicant} %>            
          </div>
          <div class="applicants_container">
            <div id="applied_applicants" class="dashboard_column_list">            
                <% @applicants_applied.each do |applicant| %>
                  <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
                <% end %>            
            </div>  
          </div>           
        </div>
      </div>





      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_2">
        <div class="job_dashboard_column">
          <h5> Shortlisted : <span id="applicants_count_<%= Applicant::Status::SHORTLISTED %>"><%= @applicants_shortlisted_count %></span></h5>
          <div class="applicants_container">
            <div id="shortlisted_applicants" class="dashboard_column_list">            
                <% @applicants_shortlisted.each do |applicant| %>
                  <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
                <% end %>            
            </div>  
          </div>
        </div>
      </div>




      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_3">
        <div class="job_dashboard_column">
          <h5> Screening : <span id="applicants_count_<%= Applicant::Status::SCREENING %>"><%= @applicants_screening_count %></span></h5>
          <div class="applicants_container">
            <div id="screening_applicants" class="dashboard_column_list">            
                <% @applicants_screening.each do |applicant| %>
                  <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
                <% end %>            
            </div> 
          </div>
        </div>
      </div>




      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_4">
        <div class="job_dashboard_column">
          <h5> Pre-hire shortlist : <span id="applicants_count_<%= Applicant::Status::PREHIRE %>"><%= @applicants_prehire_count %></span></h5>
          <div class="applicants_container">
            <div id="prehire_applicants" class="dashboard_column_list">            
              <% @applicants_prehire.each do |applicant| %>
                <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
              <% end %>            
            </div>
          </div> 
        </div>
      </div>



      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_5">
        <div class="job_dashboard_column">
          <h5> Offered : <span id="applicants_count_<%= Applicant::Status::OFFERED %>"><%= @applicants_offered_count %></span></h5>
          <div class="applicants_container">
            <div id="offered_applicants" class="dashboard_column_list">            
              <% @applicants_offered.each do |applicant| %>
                <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
              <% end %>            
            </div>
          </div> 
        </div>
      </div>  

      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_7">
        <div class="job_dashboard_column">
          <h5> Rejected : <span id="applicants_count_<%= Applicant::Status::REJECTED %>"><%= @applicants_rejected_count %></span></h5>
          <div class="applicants_container">
            <div id="rejected_applicants" class="dashboard_column_list">            
              <% @applicants_rejected.each do |applicant| %>
                <%= render partial: 'applicants/applicant', locals: {applicant: applicant} %>
              <% end %>            
            </div>
          </div> 
        </div>
      </div> 

    </div>  
  </div>  
</div>  

<script type="text/javascript">
  $(document).ready(function() {
    console.log("Sorter Initialized");
    Sorter.makeSortable(<%= @company.id %>, <%= @job.id %>);
  });
</script>
