<nav class="navbar navbar-default" id ="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
        <i class="fa fa-skyatlas fa-4x" id ="header_logo_icon"></i><!-- 
        <p id="header_name">REKROOT</p> -->
        <% if current_user.company.nil? %>
          <%= link_to "REKROOT", "#", class: "navbar-brand", id: "header_name" %>
        <% else %>
          <%= link_to "REKROOT", company_jobs_path(current_company), class: "navbar-brand", id: "header_name" %>
        <% end %>
      

     

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">     
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? && current_company && params[:controller] != "invitations" %>
          <li><%= link_to "View jobs", company_jobs_path(current_company), id: "header_links" %></li>
          
          <li><%= link_to "Team members", company_users_path(current_company), id: "header_links" %></li>
          <li> <%= link_to company_user_path(current_company,current_user), id:"header_links" do %><%= current_user.name.capitalize %>
            <% end %>
          </li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, id: "header_links" %></li>
        <% end %>        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
